/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
@import url('jquery-ui-datepicker.min.css');

/* Charming green to differentiate our preview from an actual metabox */
.days-since-preview-box {
  background-color: #8ecc88;
  padding: 20px;
  min-width: 295px;
}

.days-since-counter-subtext {
  font-size: 0.8em;
}

.days-since-counter-number {
  font-size: 1.2em;
  font-weight: bold;
}